@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #c3d69b;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #c3d69b;
    --foreground: #ededed;
  }
}